<%- include('header')%>
  <!--  -->
  <%- include('nav')%>
    <!--  -->

    <form class="container w-25 mt-5 text-center" action="/edit/<%= task.id%>" method="post">
      <h1><span class="text-primary mb-2">edit</span> task...</h1>
      <input 
        class="form-control p-3 mb-2"
        type="text"
        name="title"
        placeholder="title"
        value="<%= task.title%>"
      >
      <textarea class="form-control p-3 mb-2" name="desc" placeholder="description here..."><%= task.desc%></textarea>
      <button class="w-100 btn btn-primary">Update Task</button>
    </form>
    <!-- <small class="">This page is to add task in your active list</small> -->

    <%- include('footer')%>